/* import de la police ggl font play */

@import url('https://fonts.googleapis.com/css2?family=Play&family=Roboto:wght@100&family=Tilt+Neon&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Play', sans-serif;
}

html, body{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
}

header{
    border: red solid;
    padding: 15px;
    background-color: black;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;  
}

nav a{
    font-size: 1rem;
    text-decoration: none;
    margin: 45px 25px;
    padding: 10px;
    background-color: black;
    color: white;
    border-radius: 10px;
}

nav a:hover{
    background-color: white;
    color: black;
}

main{
    border: blue solid;
    background-color: RGB(255, 252, 246);
    flex-grow: 1;
}
footer{
    border: solid green;
    background: #f1f1f1;
    padding: 10px;
    font-size: 20px;
    text-align: center;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

